.header{
    position: relative;
    .hd-intro{
        position: relative;
        z-index: 5;
        width: 100%;
        .hd-bg{
            width: 100%;
            height: 100vh;
            background: #fff;
        }
        .intro-list{
            position: relative;
            width: 100%;
            .intro-item{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                &:nth-child(1){
                    background: #ffaba8;
                }
                &:nth-child(2){
                    background: #ffd150;
                }
                &:nth-child(3){
                    background: #009ca8;
                    font-size: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .text-box{
                        overflow: hidden;
                        gap: 30px;
                        display: flex;
                        span{
                            display: block;
                            transform: translateY(120%);
                        }
                    }

                }
            }
        }
    }
    .hd-introduction{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        .intro-top{
            width: inherit;
            height: 70%;
            background: #fff;
            display: flex;
            .intro-name{
                position: relative;
                width: 60%;
                h1{
                    position: absolute;
                    bottom: 100px;
                    right: 250px;
                    font-size: 3vw;
                    line-height: 70px;
                }
            }
            .intro-img{
                width: 40%;
                padding-top: 100px;
                .img-box{
                    width: 30vw;
                }
            }
        }
        .intro-bottom{
            transform: translateY(100%);
            width: inherit;
            height: 30%;
            
            background: #ffaba8;
        }
    }
}