@charset "UTF-8";
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes slideLeft {
  0% {
    transform: translate3d(0%, 0px, 0px);
  }
  to {
    transform: translate3d(-100%, 0px, 0px);
  }
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

img, video {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, input {
  border: 0;
}

body {
  font-family: "SBAggroB";
  scroll-snap-type: y proximity;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.inner {
  max-width: 1150px;
  margin: 0 auto;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url(./../images/maincur.png) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  pointer-events: none;
}
.cursor.cursor-over {
  background: url(./../images/procur.png) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  overflow: hidden;
}
.header .hd-intro {
  position: relative;
  z-index: 5;
  width: 100%;
}
.header .hd-intro .hd-bg {
  width: 100%;
  height: 100vh;
  background: #fff;
}
.header .hd-intro .intro-list {
  position: relative;
  width: 100%;
}
.header .hd-intro .intro-list .intro-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.header .hd-intro .intro-list .intro-item:nth-child(1) {
  background: #ffaba8;
}
.header .hd-intro .intro-list .intro-item:nth-child(2) {
  background: #ffd150;
}
.header .hd-intro .intro-list .intro-item:nth-child(3) {
  background: #009ca8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
  font-size: 100px;
  overflow: hidden;
  gap: 30px;
  display: flex;
}
@media (max-width: 1650px) {
  .header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
    font-size: 90px;
  }
}
@media (max-width: 1200px) {
  .header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
    font-size: 80px;
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  .header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
    font-size: 50px;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .header .hd-intro .intro-list .intro-item:nth-child(3) .text-box {
    font-size: 40px;
  }
}
.header .hd-intro .intro-list .intro-item:nth-child(3) .text-box span {
  display: block;
  transform: translateY(120%);
}
.header .hd-introduction {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.header .hd-introduction .group-intro {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffaba8;
}
.header .hd-introduction .group-intro .intro-name {
  position: relative;
  height: 70%;
}
.header .hd-introduction .group-intro .intro-name h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 90px;
  line-height: 130px;
  color: #373737;
}
@media (max-width: 1650px) {
  .header .hd-introduction .group-intro .intro-name h1 {
    font-size: 80px;
    line-height: 100px;
  }
}
@media (max-width: 1200px) {
  .header .hd-introduction .group-intro .intro-name h1 {
    font-size: 70px;
  }
}
@media (max-width: 1023px) {
  .header .hd-introduction .group-intro .intro-name h1 {
    font-size: 50px;
    line-height: 70px;
  }
}
@media (max-width: 767px) {
  .header .hd-introduction .group-intro .intro-name h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header .hd-introduction .group-intro .intro-name h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
.header .hd-introduction .group-intro .technique-area .technique-wrap {
  margin-left: -150px;
  margin-right: -150px;
  transform: translateZ(0) rotateY(25deg) rotate(-2deg);
  padding: 10px;
  background: #fff;
}
@media (max-width: 767px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap {
    padding: 5px;
  }
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list {
  animation: slideLeft 30s linear infinite;
  margin-right: 150px;
  display: flex;
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
  font-size: 30px;
  padding: 30px;
}
@media (max-width: 1650px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
    padding: 20px;
  }
}
@media (max-width: 1023px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item {
    font-size: 12px;
  }
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item:nth-child(5n+1) {
  background: #00a541;
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item:nth-child(5n+2) {
  background: #ffd150;
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item:nth-child(5n+3) {
  background: #bcbcbc;
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item:nth-child(5n+4) {
  background: #2c7677;
}
.header .hd-introduction .group-intro .technique-area .technique-wrap .technique-list .technique-item:nth-child(5n+5) {
  background: #ff6550;
}

.footer .inner1 {
  padding: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
  font-size: 80px;
}
@media (max-width: 1200px) {
  .footer .inner1 {
    font-size: 60px;
    padding: 50px;
  }
}
@media (max-width: 1023px) {
  .footer .inner1 {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .footer .inner1 {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 50px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .footer .inner1 {
    font-size: 40px;
  }
}
.footer .inner1 .group-end {
  text-transform: uppercase;
}
.footer .inner1 .group-addr {
  display: flex;
  gap: 40px;
}
@media (max-width: 1023px) {
  .footer .inner1 .group-addr {
    gap: 20px;
  }
}
.footer .inner1 .group-addr div {
  transition: 0.2s;
  width: 40px;
}
.footer .inner1 .group-addr div:hover {
  transform: scale(1.3);
}
@media (max-width: 1023px) {
  .footer .inner1 .group-addr div {
    width: 32px;
  }
}
@media (max-width: 767px) {
  .footer .inner1 .group-addr div {
    width: 30px;
  }
}

.containar .sc-project {
  position: relative;
  background: #ffd150;
  padding: 200px 0;
}
@media (max-width: 1023px) {
  .containar .sc-project {
    padding: 100px 0;
  }
}
.containar .sc-project .group-nav {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 20px;
}
@media (max-width: 1023px) {
  .containar .sc-project .group-nav {
    width: 90%;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .containar .sc-project .group-nav {
    width: 70%;
    font-size: 12px;
  }
}
.containar .sc-project .group-nav .sort-area {
  display: flex;
  gap: 10px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .containar .sc-project .group-nav .sort-area {
    flex-wrap: wrap;
  }
}
.containar .sc-project .group-nav .sort-area button {
  padding: 10px;
  border: 3px solid #ffffff;
}
.containar .sc-project .group-nav .sort-area button.on {
  background: #ffc013;
}
.containar .sc-project .group-project .slide-area {
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}
.containar .sc-project .group-project .slide-area .slide-wrap {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .containar .sc-project .group-project .slide-area .slide-wrap {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .containar .sc-project .group-project .slide-area .slide-wrap {
    width: 70%;
  }
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1200px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list {
    display: flex;
    flex-direction: column;
  }
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item {
  display: none;
  position: relative;
  background: #fff;
  padding: 20px;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item.on {
  display: block;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item.slide-title {
  grid-column: span 2;
  font-size: 50px;
  padding: 50px;
}
@media (max-width: 1023px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item.slide-title {
    padding: 40px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item.slide-title {
    font-size: 30px;
    padding: 30px;
    line-height: 40px;
  }
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item.active .card-back {
  visibility: initial;
  opacity: 1;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffce47;
  border: 10px solid #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1650px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back {
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back {
    flex-direction: column;
  }
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back a {
  border: 4px solid #ffffff;
  font-size: 20px;
  overflow: hidden;
  height: 65px;
  padding: 20px;
  border-radius: 50px;
  color: #fff;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back a:hover .site-direct {
  transform: translateY(-60px);
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back a .site-direct {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .card-back a span + span {
  margin-top: 40px;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .img-wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.26%;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .text-wrap {
  color: #7d7c7c;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .text-wrap .pro-title {
  display: block;
  margin: 30px 0 0 0;
  font-size: 35px;
  color: #000;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .text-wrap p {
  font-size: 20px;
  padding: 20px 0;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .text-wrap .hashtag {
  display: flex;
  gap: 10px;
  font-size: 12px;
  flex-wrap: wrap;
}
.containar .sc-project .group-project .slide-area .slide-wrap .slide-list .slide-item .text-wrap .hashtag span {
  padding: 5px;
  border: 1px solid #7d7c7c;
}